@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html {
 font-family: 'Roboto', sans-serif;
 background-color: #1f2937;
}

body {
    background-color: aliceblue;
}

ul {
    list-style-type: none;
}

.acontainer {
    display: flex;
    padding: 32px;
    justify-content: space-between;
}

.bcontainer {
    display: flex;
    padding: 32px;
    justify-content: center;
    flex-wrap: wrap;
}


.icontainer{
    display: flex;
    padding: 8px;
    justify-content: space-between;
}

.qcontainer{
    display:flex;
}

.lcontainer{
    display:flex;
    justify-content: center;
    flex: wrap;
}

.qtext{
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    background-color: #E5E7EB;
}

.itext{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 18px;
    color: #1f2937;
}

.btext {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.container {
    display: flex;
    padding: 32px;
    flex-wrap: wrap;
    flex-direction: column;
}

.prueba {
    width: 300px;
    flex-shrink: 0;
}

.icontainer{
    display: flex;
}

.ocontainer {
    display: flex;
}

.body {
    flex: 1;
    display: flex;
}

#hero {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    
}

#heros {
    font-size: 18px;
    color: #E5E7EB;
    
}

#cool {
    font-size: 18px;
}


a {
    text-decoration: none;
    color: #E5E7EB;
}

header {
    background-color: #1f2937;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

#button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 24px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #E5E7EB;
    height: 100px;
}