@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html {
 font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}


.pri {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-left: 200px;
    margin-bottom: 150px;
}

.irp {
    display:flex;
    gap: 16px;
    font-size: 18px;
}


.hcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 200px;
    flex-wrap: wrap;
}

#hero {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

#heros {
    font-size: 18px;
    color: #E5E7EB;
    
}

#cool {
    font-size: 18px;
}


a {
    text-decoration: none;
    color: #E5E7EB;
}

header {
    background-color: #1f2937;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}